@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "made-tommy-soft";
  src: url("./fonts/topAnnouncement.otf") format("opentype");
}

body {
  font-family: "made-tommy-soft", sans-serif;
}

/* Navbar */

.right-ul li {
  padding: 0px 10px;
}

.left-ul li {
  padding: 0px 15px;
}

.main-content ul li a {
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.main-content ul li a:hover,
.main-content-content ul li {
  color: #e1c300;
}

.main-content img {
  object-fit: contain;
}

.main-conten ul a:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  will-change: transform;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left center;
  background: var(--color-header-links-hover, --color-accent);
}
