@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "made-tommy-soft";
  src: url("./fonts/madeTommySoftRegular.otf") format("opentype");
}

@font-face {
  font-family: "qualy-alternative";
  src: url("./fonts/qualy-alternative.otf") format("opentype");
}

* {
  line-height: 24px;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "made-tommy-soft", sans-serif;
  overflow-x: hidden;
}

/* Navbar */

/* right */
.right-ul li {
  padding: 0px 10px;
}

.brand-options {
  padding: 18px 20px;
}

.brand-options ul li {
  margin: 6px auto;
}

.cart .start-shopping-button {
  background: linear-gradient(#212122, #212122 50%, white 50%, white);
  background-size: 100% 200%;
  border: 1px solid #212122 !important;
  /*trasition effect for background*/
  transition: all linear 250ms;
}

.cart .start-shopping-button:hover {
  background-position: 100% 101%;
  color: #212122;
}

/* left */
.left-ul li {
  padding: 0px 15px;
}

.shop-options div {
  margin: 50px 30px;
}

.shop-options div ul .title {
  font-family: "qualy-alternative", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  margin-bottom: 18px;
  font-size: 90px !important;
}

.shop-options div ul li {
  text-align: left;
  margin: 1px auto;
}

/* for all nav */
.main-content ul li a {
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 250ms;
  padding-bottom: 4px;
}

.main-content ul li > a:hover {
  color: #e1c300;
}

.main-content ul li a.hover-line:hover:after {
  width: 100%;
}

.main-content > img {
  object-fit: contain;
}

.main-content ul li a.hover-line:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 0px;
  left: 0;
  width: 0%;
  height: 1px;
  transition: all 300ms linear;
  transform-origin: left center;
  background-color: #e1c300;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: white;
  transition: all ease-in-out 250ms;
}

/* banner */

.banner {
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 250ms;
}

.banner-image {
  height: 650px;
  width: 100%;
}

.prev-next-button {
  position: absolute;
  display: flex;
  visibility: hidden;
  opacity: 0;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #212122;
  justify-content: center;
  align-items: center;
  top: 45%;
  z-index: 10;
  cursor: pointer;
  transition: all linear 250ms;
}

.prev-next-button:hover {
  background-color: white;
  color: #212122;
}

.banner-slider:hover > .prev-next-button {
  opacity: 1;
  visibility: visible;
}

.banner .apparel-title {
  font-family: "qualy-alternative", sans-serif;
}

.banner .banner-shop-button {
  background: linear-gradient(white, white 50%, #212122 50%, #212122);
  background-size: 100% 200%;
  /*trasition effect for background*/
  transition: all linear 250ms;
}

.banner-shop-button:hover {
  background-position: 100% 100%;
  color: white;
}

/* slide show  */
.slide-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 150px;
  border-radius: 150px 15px 15px 150px;
}

.slide-show-image {
  width: 150px;
  border-radius: 100%;
}

.slide-show-brand-name {
  font-family: "qualy-alternative", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: xx-large;
}

.b {
  border: 2px solid red;
}
