@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "made-tommy-soft";
  src: url("./fonts/madeTommySoftRegular.otf") format("opentype");
}

* {
  line-height: 24px;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "made-tommy-soft", sans-serif;
  overflow-x: hidden;
}

/* Navbar */

/* right */
.right-ul li {
  padding: 0px 10px;
}

.brand-options {
  padding: 18px 20px;
}

.brand-options ul li {
  margin: 6px auto;
}

/* left */
.left-ul li {
  padding: 0px 15px;
}

.shop-options div {
  margin: 50px 30px;
}

.shop-options div ul .title {
  font-weight: 900;
  margin-bottom: 18px;
}

.shop-options div ul li {
  text-align: left;
  margin: 1px auto;
}

/* for all nav */
.main-content ul li a {
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 250ms;
  padding-bottom: 4px;
}

.main-content ul li a:hover {
  color: #e1c300;
}

.main-content ul li a.hover-line:hover:after {
  width: 100%;
}

.main-content img {
  object-fit: contain;
}

.main-content ul li a.hover-line:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 0px;
  left: 0;
  width: 0%;
  height: 1px;
  transition: all 300ms linear;
  transform-origin: left center;
  background-color: #e1c300;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: white;
  transition: all ease-in-out 250ms;
}
